.Game--title {
    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.Game--title:first-letter  {
    text-transform:capitalize;
}

.Game .row {
    display: flex;
    justify-content: center;
    align-items: center;
}